<ion-header>
  <ion-toolbar color="#00BECB">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Votre devis à taux fixe
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label>Origine</ion-label>
            <ion-select
            (ionChange)="onSelectChange($event)"
           (click)='pays_A()'
           
            interface="popover">
            <ion-select-option 
                value="ma">Maroc</ion-select-option>
                <ion-select-option value="ca">Cameroun</ion-select-option>
                <ion-select-option 
                value="gb">Gabon</ion-select-option>
                
          </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label color="primary">Destination</ion-label>
            <ion-select 
            (click)='pays_B()' 
            (ionChange)="onSelectChange_destination($event)"   
            interface="popover">
                <ion-select-option  [disabled]='disabled_MAD'
                value="ma">Maroc</ion-select-option>
                <ion-select-option [disabled]='disabled_CA'
                 value="ca">Cameroun</ion-select-option>
                <ion-select-option [disabled]='disabled_GB'
                value="gb">Gabon</ion-select-option>
                <ion-select-option [disabled]='disabled_CG'
                value="cg">Congo</ion-select-option>
                <ion-select-option [disabled]='disabled'
                value="fr">France</ion-select-option>
              </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <form>
            <ion-list liGabon="full" class="ion-no-margin ion-no-padding">
              <ion-item>
                  <ion-label>Envoie:</ion-label>
                  <ion-input
                  [(ngModel)]="send"
                  name="send"
                  placeholder="Entrez le montant"></ion-input>
                  <ion-label
                  color="primary"
                  >{{devise_origine}}</ion-label>
              </ion-item>
            </ion-list>
          </form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-list>
            <ion-radio-group [(ngModel)]="selectedRadio" (click)="fraismode()">
              <ion-list-header>
                <ion-label>Commission</ion-label>
              </ion-list-header>
              <ion-grid>
                  <ion-row>
                    <ion-col>
                      <div>
                          <ion-item>
                              <ion-label>inclus</ion-label>
                              <ion-radio 
                               color="success"
                                value="inclus"
                                checked
                                name="inclus"
                                
                                >
                              </ion-radio>
                            </ion-item>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                          <ion-item>
                              <ion-label>exclus</ion-label>
                              <ion-radio value="exclus"></ion-radio>
                            </ion-item>
                      </div>
                    </ion-col>
                  </ion-row>
                 </ion-grid>
            </ion-radio-group>
        
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <form onsubmit="processForm(event)">
            <ion-list liGabon="full" class="ion-no-margin ion-no-padding">
              <ion-item>
                <ion-label>Reception:
                      <ion-text>
                          {{reception | number: '.2'}} {{devise_reception}}
                      </ion-text>
              </ion-label>
              </ion-item>
            </ion-list>
          </form>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label>Total à payer: <ion-text>{{total | number: '.2'}} {{devise_origine}}</ion-text></ion-label>
          
            </ion-item>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button 
          size="small"
          expand="full" 
          color="primary" (click)="calcul()">
          Calculer</ion-button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>